In [3]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')
%matplotlib inline

In [4]:
data= pd.read_excel('EDA_Shark_Tank_India.xlsx')
data

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.0,1000.00,75.0,16.00,...,1,0,1,0,1,0,0,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.00,...,1,0,0,0,1,0,0,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.0,250.00,25.0,30.00,...,0,1,0,0,1,0,0,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.0,7000.00,70.0,2.75,...,1,0,0,0,0,0,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.0,1000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,34,113,Green Protein,Plant-Based Protein,0,60.0,2.0,3000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
113,34,114,On2Cook,Fastest Cooking Device,0,100.0,1.0,10000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
114,35,115,Jain Shikanji,Lemonade,1,40.0,8.0,500.00,40.0,30.00,...,1,1,1,0,1,0,0,4,10.0,7.500000
115,35,116,Woloo,Washroom Finder,0,50.0,4.0,1250.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
116,35,117,Elcare India,Carenting for Elders,0,100.0,2.5,4000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000

Q1.Answer: The number of episodes

In [6]:
esp=data.episode_number.drop_duplicates()
num_of_esp= esp.count()
num_of_esp

35

Q2.Answer: Max, min , mean of asked amount,asked equity, asked valuation

[i] Max of asked amount,asked equity, asked valuation

In [9]:
max_asked_amount= data.pitcher_ask_amount.max()
max_asked_amount

30000.0

In [10]:
max_asked_equity= data.ask_equity.max()
max_asked_equity

25.0

In [11]:
max_asked_valuation=data.ask_valuation.max()
max_asked_valuation

120000.0

[ii] Min of asked amount,asked equity, asked valuation

In [13]:
min_asked_amount= data.pitcher_ask_amount.min()
min_asked_amount

0.00101

In [14]:
min_asked_equity= data.ask_equity.min()
min_asked_equity

0.25

In [15]:
min_asked_valuation= data.ask_valuation.max()
min_asked_valuation

120000.0

[iii] mean of asked amount,asked equity, asked valuation

In [17]:
mean_of_asked_amount= data.pitcher_ask_amount.mean()
mean_of_asked_amount

319.8547094871795

In [18]:
mean_of_asked_equity= data.ask_equity.mean()
mean_of_asked_equity

5.188034188034188

In [19]:
mean_of_asked_valuation= data.pitcher_ask_amount.mean()
mean_of_asked_valuation

319.8547094871795

Q3.Answer: Max & Min asked- equity,asked-valuation and asked amount episode-wise

[i] Max of asked-equity, asked-valuation and asked amount episode-wise

In [22]:
Esp_max_of_ask_equity= data.groupby('episode_number')['ask_equity'].max()
Esp_max_of_ask_equity

episode_number
1     15.0
2      5.0
3      4.0
4     10.0
5     20.0
6     10.0
7      7.5
8      7.5
9      5.0
10     5.0
11    25.0
12     5.0
13    10.0
14     5.0
15     5.0
16     7.0
17    10.0
18     4.0
19     8.0
20     5.0
21    10.0
22     5.0
23     5.0
24    10.0
25     4.0
26    10.0
27    10.0
28     5.0
29     5.0
30    15.0
31    10.0
32     7.0
33    10.0
34    10.0
35     8.0
Name: ask_equity, dtype: float64

In [23]:
Esp_max_of_ask_valuation= data.groupby('episode_number')['ask_valuation'].max()
Esp_max_of_ask_valuation

episode_number
1       1000.00
2       7000.00
3      40000.00
4       1875.00
5      10000.00
6      10000.00
7       7500.00
8       2000.00
9       2000.00
10      1500.00
11    120000.00
12      1875.00
13      2500.00
14      3333.33
15      1250.00
16      2250.00
17      5000.00
18     10000.00
19     10000.00
20      3250.00
21      1250.00
22      3000.00
23     10000.00
24       500.00
25      7500.00
26      6500.00
27     10000.00
28      1875.00
29      2857.14
30     30000.00
31      3750.00
32      5000.00
33      3500.00
34     10000.00
35      4000.00
Name: ask_valuation, dtype: float64

In [24]:
Esp_max_of_ask_amount= data.groupby('episode_number')['pitcher_ask_amount'].max()
Esp_max_of_ask_amount

episode_number
1        50.0
2        70.0
3       100.0
4        75.0
5       100.0
6       100.0
7       100.0
8        56.0
9       100.0
10       30.0
11    30000.0
12       75.0
13       50.0
14      100.0
15       50.0
16       80.0
17      150.0
18      100.0
19      125.0
20       65.0
21      100.0
22       80.0
23      100.0
24       40.0
25      150.0
26       65.0
27      100.0
28       90.0
29      100.0
30      300.0
31       75.0
32      200.0
33       40.0
34      100.0
35      100.0
Name: pitcher_ask_amount, dtype: float64

[ii] Min asked-equity, asked-valuation and asked amount episode-wise

In [26]:
Esp_min_of_ask_equity = data.groupby('episode_number')['ask_equity'].min()
Esp_min_of_ask_equity

episode_number
1     5.00
2     1.00
3     0.25
4     4.00
5     1.00
6     1.00
7     1.00
8     2.50
9     2.50
10    2.00
11    5.00
12    3.00
13    2.00
14    3.00
15    3.00
16    2.00
17    3.00
18    1.00
19    1.25
20    2.00
21    5.00
22    2.00
23    1.00
24    8.00
25    2.00
26    1.00
27    1.00
28    4.00
29    3.00
30    1.00
31    2.00
32    1.00
33    1.00
34    1.00
35    2.50
Name: ask_equity, dtype: float64

In [27]:
Esp_min_of_ask_valuation = data.groupby('episode_number')['ask_valuation'].min()
Esp_min_of_ask_valuation

episode_number
1      250.00
2     1000.00
3     1875.00
4      500.00
5       50.00
6      500.00
7      666.67
8      746.67
9     1000.00
10     500.00
11     300.00
12     800.00
13     500.00
14     900.00
15     100.00
16    1071.43
17     500.00
18    1250.00
19     300.00
20     700.00
21     470.00
22    1500.00
23     600.00
24     200.00
25    1250.00
26     500.00
27       0.01
28    1000.00
29    1500.00
30     500.00
31     500.00
32     583.33
33     400.00
34     400.00
35     500.00
Name: ask_valuation, dtype: float64

In [28]:
Esp_min_of_ask_amount = data.groupby('episode_number')['pitcher_ask_amount'].min()
Esp_min_of_ask_amount

episode_number
1     25.00000
2     50.00000
3     50.00000
4     50.00000
5     10.00000
6     45.00000
7     50.00000
8     30.00000
9     50.00000
10    25.00000
11    30.00000
12    40.00000
13    30.00000
14    45.00000
15     5.00000
16    45.00000
17    50.00000
18    50.00000
19    15.00000
20    35.00000
21    35.00000
22    50.00000
23    30.00000
24    20.00000
25    50.00000
26    50.00000
27     0.00101
28    50.00000
29    75.00000
30    50.00000
31    50.00000
32    35.00000
33    35.00000
34    30.00000
35    40.00000
Name: pitcher_ask_amount, dtype: float64

Q4.Answer: Brand names in which 2 ,3 or 4 sharks are invested ( anupam_deal, aman_deal, namita_deal )

In [30]:
op = data[(data['anupam_deal']>0) & (data['aman_deal']>0) & (data['namita_deal']>0)]
brand_name= op.brand_name
print(brand_name)

15              Skippi Pops
44                  Cocofit
49    Find Your Kicks India
63                 IN A CAN
Name: brand_name, dtype: object

Q5.Answer: Episode wise minimum and maximum of sharks invested

(i) Episode wise minimum of sharks invested

In [33]:
Esp_wise_min_of_shark_invest = data.groupby('episode_number')['total_sharks_invested'].min()
Esp_wise_min_of_shark_invest

episode_number
1     2
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    3
11    0
12    0
13    2
14    0
15    1
16    0
17    0
18    0
19    0
20    0
21    1
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
Name: total_sharks_invested, dtype: int64

(ii) Episode wise maximum of sharks invested

In [35]:
Esp_wise_max_of_shark_invest = data.groupby('episode_number')['total_sharks_invested'].max()
Esp_wise_max_of_shark_invest

episode_number
1     3
2     1
3     1
4     2
5     2
6     5
7     2
8     2
9     2
10    3
11    2
12    3
13    4
14    2
15    3
16    2
17    5
18    1
19    4
20    5
21    3
22    3
23    1
24    2
25    5
26    1
27    4
28    3
29    3
30    2
31    1
32    1
33    3
34    4
35    4
Name: total_sharks_invested, dtype: int64

Q6.Answer: Brand names who ask for 1 crore and got a deal

In [37]:
opt= data[(data['pitcher_ask_amount']==100) & (data['deal']>0)]
Brand_names= opt.brand_name
Brand_names

12            Revamp Moto
39      The Renal Project
55                   Otua
64             Get a Whey
71           Namhya Foods
79    Sunfox Technologies
87     Insurance Samadhan
Name: brand_name, dtype: object

Q7.Answer: Brand names where deal equity is between 0 to 50

In [39]:
opt= data[(data['deal_amount']>0) & data['deal_amount']<50]
brand_names= opt.brand_name
brand_name

15              Skippi Pops
44                  Cocofit
49    Find Your Kicks India
63                 IN A CAN
Name: brand_name, dtype: object

Q8.Answer: The number of brands participated in each episode

In [41]:
num_of_brand_per_esp = data.groupby('episode_number')['brand_name'].count()
num_of_brand_per_esp

episode_number
1     3
2     3
3     3
4     3
5     3
6     3
7     3
8     3
9     3
10    3
11    3
12    3
13    3
14    3
15    3
16    4
17    4
18    4
19    4
20    3
21    3
22    4
23    4
24    3
25    3
26    3
27    4
28    3
29    3
30    4
31    4
32    4
33    4
34    4
35    3
Name: brand_name, dtype: int64

Q9.Answer: number of sharks participated in the show and their names

In [43]:
num_of_sharks = data.iloc[0,[11,12,13,14,15,16,17]].count()
num_of_sharks

7

In [44]:
name=data.iloc[0,[11,12,13,14,15,16,17]]   
print(name)

ashneer_present    1
anupam_present     1
aman_present       1
namita_present     1
vineeta_present    1
peyush_present     0
ghazal_present     0
Name: 0, dtype: object

Q10.Answer: Number of appearance of each sharks

(i)

In [71]:
Appearance = data[data.iloc[:,11:18]>0].count()
Appearance

episode_number             0
pitch_number               0
brand_name                 0
idea                       0
deal                       0
pitcher_ask_amount         0
ask_equity                 0
ask_valuation              0
deal_amount                0
deal_equity                0
deal_valuation             0
ashneer_present           98
anupam_present           117
aman_present              98
namita_present           106
vineeta_present           66
peyush_present            88
ghazal_present            26
ashneer_deal               0
anupam_deal                0
aman_deal                  0
namita_deal                0
vineeta_deal               0
peyush_deal                0
ghazal_deal                0
total_sharks_invested      0
amount_per_shark           0
equity_per_shark           0
dtype: int64

Q11.Answer: Number of Entrepreneurs were present

In [48]:
num_of_sharks_present = data.iloc[0,[11,12,13,14,15,16,17]].count()
num_of_sharks_present

7

Q12.Answer: Number of times each shark invested the deal

In [67]:
Deal=data[data.iloc[:,18:25]>0].count()
Deal

episode_number            0
pitch_number              0
brand_name                0
idea                      0
deal                      0
pitcher_ask_amount        0
ask_equity                0
ask_valuation             0
deal_amount               0
deal_equity               0
deal_valuation            0
ashneer_present           0
anupam_present            0
aman_present              0
namita_present            0
vineeta_present           0
peyush_present            0
ghazal_present            0
ashneer_deal             21
anupam_deal              24
aman_deal                28
namita_deal              22
vineeta_deal             15
peyush_deal              27
ghazal_deal               7
total_sharks_invested     0
amount_per_shark          0
equity_per_shark          0
dtype: int64

Q13. The equity percent that each sharks gets

(i)

In [53]:
Equity_per_shark= data.iloc[:,[27]]
Equity_per_shark

     equity_per_shark
0            5.333333
1           25.000000
2           15.000000
3            2.750000
4            0.000000
..                ...
112          0.000000
113          0.000000
114          7.500000
115          0.000000
116          0.000000

[117 rows x 1 columns]

(ii)

In [103]:
data['equity_per_shark'] = data['deal_equity'].div(data['total_sharks_invested'], axis = 0)
print("Equity percent that each sharks gets shark:")
data

Equity percent that each sharks gets shark:

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark,equity_PER_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.0,1000.00,75.0,16.00,...,0,1,0,1,0,0,3,25.0,5.333333,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.00,...,0,0,0,1,0,0,2,20.0,25.000000,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.0,250.00,25.0,30.00,...,1,0,0,1,0,0,2,12.5,15.000000,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.0,7000.00,70.0,2.75,...,0,0,0,0,0,0,1,70.0,2.750000,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.0,1000.00,0.0,0.00,...,0,0,0,0,0,0,0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,34,113,Green Protein,Plant-Based Protein,0,60.0,2.0,3000.00,0.0,0.00,...,0,0,0,0,0,0,0,0.0,NaN,NaN
113,34,114,On2Cook,Fastest Cooking Device,0,100.0,1.0,10000.00,0.0,0.00,...,0,0,0,0,0,0,0,0.0,NaN,NaN
114,35,115,Jain Shikanji,Lemonade,1,40.0,8.0,500.00,40.0,30.00,...,1,1,0,1,0,0,4,10.0,7.500000,7.500000
115,35,116,Woloo,Washroom Finder,0,50.0,4.0,1250.00,0.0,0.00,...,0,0,0,0,0,0,0,0.0,NaN,NaN
116,35,117,Elcare India,Carenting for Elders,0,100.0,2.5,4000.00,0.0,0.00,...,0,0,0,0,0,0,0,0.0,NaN,NaN

Q14. The total number of amount invested in this show

In [57]:
Total_amount= data['amount_per_shark'].sum()
Total_amount

2121.5002691930003